<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <style>
            .tam: {
                width: 320px;
                background-color: #cccccc
            }
        </style>
        {% block body %}{% endblock %}
        <div class="tam">
            <a href="https://autoparnet.com">hola</a>
        </div>
    </body>
</html>
